<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Finder</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <h1>Book Finder</h1>
    <nav id="menu">
      <li class="menu-item"><a href='/'>Home</a></li>
      <li class="menu-item"><a href='/books'>See Books</a></li>
      <li class="menu-item"><a href='/books/new'>Add Book</a></li>
    </nav>
    <hr />
    <%= yield %>
  </body>
</html>
