<h2>Add Book to Product Range</h2>

<form action="/books" method="post">
  <div class="form-wrapper">

<div class="form-field">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title"/>
</div>

<div class="form-field">
  <label for="buying_price">Buying Price:</label>
  <input type="text" name="buying_price" id="buying_price"/>
</div>

<div class="form-field">
  <label for="selling_price">Selling Price:</label>
  <input type="text" name="selling_price" id="selling_price"/>
</div>

<div class="form-field">
  <label for="genre">Genre:</label>
  <input type="text" name="genre" id="genre"/>
</div>

<div class="form-field">
  <label for="amount_in_stock">Amount in Stock:</label>
  <input type="number" name="amount_in_stock" id="amount_in_stock"/>
</div>

<div class="form-field">
  <label for="decade">Decade:</label>
  <input type="number" name="decade" id="decade"/>
</div>

<div class="form_button">
  <input type="submit" value="Add Book">
</div>


  </div>
</form>
