body {
  background-color: LightBlue;
  font-family: courier;
  color: black;
}

a {
  text-decoration: none;
  color: RoyalBlue;
}

a:hover {
  color: darkred;
}

.menu-item {
  display: inline-block;
  padding-right: 25px;
  font-family: courier;
}

.Low-Stock {
  background-color: red;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid white;
  font-family: helvetica;
}

th {
  font-family: courier;
}

tr:hover {
  background-color: #C0C0C0;
}

table {
  padding-top: 25px;
}

.form-field {
  padding-top: 20px;
}

#filter {
  border: 1px solid black;
  background-color: RoyalBlue;
  color: white;
}

#submit {
  border: 1px solid black;
  background-color: RoyalBlue;
  color: white;
}

#delete-button {
  border: 1px solid black;
  background-color: RoyalBlue;
  color: white;
}

#add-author {
  border: 1px solid black;
  background-color: RoyalBlue;
  color: white;
}
