body {
  background-color: LightBlue;
  font-family: courier;
  color: black;
}

a {
  text-decoration: none;
  color: RoyalBlue;
}

a:hover {
  color: darkred;
}

.menu-item {
  display: inline-block;
  padding-right: 25px;
  font-family: courier;
}

.Low-Stock {
  background-color: red;
}
