<h2>Authors</h2>

<div id="author-wrapper">
  <% @authors.each do |author| %>

  <div class="author">
    <p><a href="/authors/<%= author.id %>"><%= author.format_name %></a></p>
  </div>

  <% end %>
</div>

<div id="add-author">
  <p><a href="/authors/new">Add a new Author</a></p>

</div>
