<h2><%= @author.format_name %></h2>
<p>
  <% @books.each do |book| %>
    <% if book.author_id == @author.id %>
      <%= book.title %>
      <br>
    <% end %>
  <% end %>
</p>

<form action="/authors/<%= @author.id %>/delete" method="POST"><input type="submit" value="Delete Author">
</form>
